body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #27ecc8;
    color: white;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
a {
    text-decoration: none;
    color: rgb(4, 3, 16);
}
footer {
    background-color: #d075bb;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
